:root {
  --page-background-color: hsl(0 0% 95%);
  --surface-background-color: hsl(0 0% 100%);
  --subtle-background-color: hsl(221 26% 91%);
  --subtler-background-color: hsl(0 0% 96%);

  --body-text-color-01: hsl(221 25% 20%);
  --body-text-color-02: hsl(221 0% 40%);
  --body-text-color-03: hsl(221 0% 60%);
  --body-text-color-04: hsl(221 0% 45%);

  --secondary-text-color: hsl(221 24% 50%);
  --accent-color: hsl(221 68% 42%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --page-background-color: hsl(197 65% 6%);
    --surface-background-color: hsl(197 65% 10%);
    --subtle-background-color: hsl(197 30% 20%);
    --subtler-background-color: hsl(197 52% 13%);

    --body-text-color-01: hsl(197 50% 85%);
    --body-text-color-02: hsl(197 0% 75%);
    --body-text-color-03: hsl(197 0% 70%);
    --body-text-color-04: hsl(197 0% 60%);

    --secondary-text-color: hsl(197 50% 70%);
    --accent-color: hsl(221 100% 80%);
  }
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Mada Variable", sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  text-align: left;
  background: var(--page-background-color);
  background-size: 100% 600px;
  color: var(--body-text-color-01);
  font-size: 20px;
  text-wrap: pretty;
  line-height: 1.7;
  color-scheme: dark light;
}

@media (max-width: 60ch) {
  body {
    font-size: 18px;
  }
}

main {
  width: 720px;
  max-width: 100%;
  margin: auto;
}

/* Prose styles for mdx content */

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  margin: 4rem 0 1rem 0;
  line-height: 1.2;
}

.prose p {
  margin: 2rem 0;
}

.prose li {
  margin-left: 3rem;
}

/* Global styles */

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}

strong,
b {
  font-weight: 700;
}

a,
a:hover {
  color: var(--accent-color);
}

iframe {
  margin: 2rem auto;
  width: 100%;
  max-width: 100%;
  border-radius: 1rem;
}

textarea {
  width: 100%;
  font-size: 16px;
}

input {
  font-size: 16px;
}

table {
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 1rem;
}

code {
  padding: 2px 5px;
  background-color: var(--subtle-background-color);
  border-radius: 6px;
  font-size: 1rem;
}

pre {
  padding: 1.5rem;
  border-radius: 1rem;
  font-size: 1rem;
}

pre > code {
  all: unset;
}

blockquote {
  border-left: 4px solid var(--accent-color);
  padding: 0 0 0 20px;
  margin: 0px;
  font-size: 1.25rem;
}

hr {
  border: none;
  border-top: 1px solid var(--subtle-background-color);
  margin: 1rem 0;
}

/* GLightbox hacky overrides - this could be improved */
.glightbox-clean .ginner-container .gslide-description {
  color: #ddd;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0.75) 100%
  );
}
