---
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout>
  <meta http-equiv="refresh" content="0; url=/travel" slot="head" />

  <main>
    <p>Redirecting to the travel blogs...</p>
  </main>
</BaseLayout>

<style>
  main {
    display: grid;
    place-items: center;
    height: calc(100svh - 200px);
  }
</style>
