---
const { href } = Astro.props
---

<style>
  a {
    display: flex;
    grid-area: 1 / 1 / -1 / -1;
    margin: 1rem auto auto 1rem;
    padding: 1rem;
    border-radius: 50%;
    border: none;
    z-index: 1;
    background-color: #0005;
    color: white;
    transition: background-color 0.2s;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }
  a:hover {
    color: white;
    background-color: #0009;
  }
  a:active {
    background-color: #0009;
  }
</style>

<a href={href}>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    stroke="currentColor"
    height="1.5rem"
    width="1.5rem"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18"></path>
  </svg>
</a>
