---
import BackButtonLink from "../components/BackButtonLink.astro"

type Props = {
  variant?: "inset" | "background"
  background: string
  heading: string
  backLink: string
}

const { variant = "background", background, heading, backLink } = Astro.props
---

<style>
  .cover-container {
    display: grid;
    max-width: 100%;
    overflow: clip;
  }

  .cover-container.inset {
    margin: 0.5rem;
    border-radius: 2rem;
  }

  .cover {
    display: grid;
    grid-area: 1 / 1 / -1 / -1;
    width: 100%;
    height: 50lvh;
    background-size: cover;
    background-position: center;
    border-image: fill 0 linear-gradient(#0003, #000a);
    border-radius: 0;
  }

  h2 {
    grid-area: 1 / 1 / -1 / -1;
    align-self: center;
    text-align: center;
    color: white;
    margin: 1rem;
    z-index: 1;
  }

  @supports (animation-timeline: view()) {
    @media (prefers-reduced-motion: no-preference) {
      @keyframes cover-fade {
        to {
          scale: 1.5;
          filter: blur(1px) brightness(0.01);
        }
      }
      .cover {
        animation: cover-fade linear forwards;
        animation-timeline: view();
        animation-range: exit 1rem;
        transform-origin: bottom;
      }
    }
  }
</style>

<div class:list={["cover-container", { inset: variant === "inset" }]}>
  {backLink && <BackButtonLink href={backLink} />}
  <div class="cover" style={`background-image: url(${background});`}></div>
  <h2>{heading}</h2>
</div>
