---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "./FormattedDate.astro";

export interface Props {
  columns: number
}

const { columns } = Astro.props;
---

<style define:vars={{ columns }}>
  div {
    display: grid;
    gap: 1rem;
    margin: 1rem auto;
    grid-template-columns: repeat(var(--columns), 1fr);
  }
</style>

<div>
  <slot />
</div>
