---
import { getCollection } from "astro:content"
import { Image } from "astro:assets"
import placeholder from "@assets/placeholder-trip.jpg"
import BaseLayout from "../../layouts/BaseLayout.astro"

const trips = await getCollection("trips")
---

<BaseLayout>
  <main>
    <h1>Trips</h1>
    <ul>
      {
        trips
          .filter(trip => !trip.data.hidden)
          .sort(
            (a, b) => b.data.startDate.valueOf() - a.data.startDate.valueOf()
          )
          .map(trip => (
            <li>
              <a href={`/travel/${trip.id}`}>
                <Image
                  transition:name={`cover-${trip.id}`}
                  width={400}
                  height={100}
                  src={trip.data.cover || placeholder}
                  alt={
                    trip.data.coverAlt ||
                    `A photo from the ${trip.data.title} trip`
                  }
                />
                <h2>{trip.data.title}</h2>
                <h3>{trip.data.years.join(" - ")}</h3>
              </a>
            </li>
          ))
      }
    </ul>
  </main>
</BaseLayout>

<style>
  main {
    width: 100%;
    max-width: 100%;
    padding: 1rem;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    justify-items: center;
    gap: 1rem;
    margin: 0;
    padding: 0;
  }
  @media (min-width: 700px) {
    ul {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 2rem;
    }
  }

  h1 {
    text-align: center;
    margin-block: 8rem;
  }

  h2 {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1;
  }

  h3 {
    font-size: 1rem;
    font-weight: 300;
  }

  li {
    list-style: none;
    transition: scale 0.15s;
  }

  li:hover {
    scale: 1.03;
  }

  a {
    display: block;
    text-decoration: none;
    color: currentColor;
  }

  img {
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 1.5rem;
  }
</style>
